---
import Default from '../layouts/Default.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Manifest from '../components/Manifest.astro';
import DhtTimeline from '../components/DhtTimeline.astro';
import HealthGraphEmbed from '../components/HealthGraphEmbed.astro';
import PartnerBlock from '../components/PartnerBlock.astro';
import MissionBlock from '../components/MissionBlock.astro';
import NewsTeaser from '../components/NewsTeaser.astro';
import ContactFooter from '../components/ContactFooter.astro';
---

<Default>
  <Nav />
  <main>
    <Hero />
    <Manifest />
    <DhtTimeline />
    <HealthGraphEmbed />
    <PartnerBlock />
    <MissionBlock />
    <NewsTeaser />
  </main>
  <ContactFooter />
</Default>
